.nav{
    background-color: rgb(236, 236, 237);
    padding: 20px 40px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: inherit;
}
