.user-component{
    justify-content: space-between;
}

.user-component, .user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component-avatar{
    width: 50px;
    height: 50px;
    border-radius: 27px;
    background-color: aqua;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 19px;
}

.user-component__subtitle{
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 15px;
}

.user-component-avatar--xl{
    width: 70px;
    height: 77px;
}

.user-component-avatar--sm {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.user-component__title--not-bold{
    font-weight: 500;
}
